한국중학교에 다니는 학생들은 각자 정수 번호를 갖고 있습니다. 이 학교 학생 3명의 정수 번호를 더했을 때 0이 되면 3명의 학생은 삼총사라고 합니다. 예를 들어, 5명의 학생이 있고, 각각의 정수 번호가 순서대로 -2, 3, 0, 2, -5일 때, 첫 번째, 세 번째, 네 번째 학생의 정수 번호를 더하면 0이므로 세 학생은 삼총사입니다. 또한, 두 번째, 네 번째, 다섯 번째 학생의 정수 번호를 더해도 0이므로 세 학생도 삼총사입니다. 따라서 이 경우 한국중학교에서는 두 가지 방법으로 삼총사를 만들 수 있습니다.
한국중학교 학생들의 번호를 나타내는 정수 배열 number가 매개변수로 주어질 때, 학생들 중 삼총사를 만들 수 있는 방법의 수를 return 하도록 solution 함수를 완성하세요.

#### 풀이

list 내에서 만들 수 있는 조합을 구해야하는데, 재귀도 모르고 함수도 못쓰니까 무족권 노가다로 ㅎ

만약에 [1, 2, 3, 4] 이런거면
(1, 2, 3)
(1, 2, 4)
(2, 3, 4) 

이렇게 되어야 하는데 

    for i in range(len(number)-2): # 1,2 
        for j in range(i+1, len(number)-1): # 2,3 
            for k in range(j+1, len(number)): # 3, 4
                print(number[i],number[j],number[k])
                
이렇게 작성을 하면, 

(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)

이런식으로 된다...!

In [ ]:
def solution(number):
    cnt = 0
    # if len(number = 4)
    for i in range(len(number)-2): 
        for j in range(i+1, len(number)-1): 
            for k in range(j+1, len(number)):
                print(number[i],number[j],number[k])
                if number[i]+number[j]+number[k] == 0:
                    cnt += 1
                
    return cnt

In [3]:
for i in range(2): # 1, 2
    for j in range(i+1, 3): # 2, 3
        for k in range(j+1, 4): # 3, 4
            print(i+1, j+1, k+1)

1 2 3
1 2 4
1 3 4
2 3 4